<div class="box">
			<header>
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#!/server">服务案例</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</header>
			<section>
				<div class="swiper-container" id="app">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/banner1.jpg"/></div>
						<div class="swiper-slide"><img src="img/banner2.jpg"/></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="title">
					<h3>关于我们</h3>
				</div>
				<div class="one">
					<img src="img/list1.jpg"/>
					<p>专注品牌事业十余年，是一家兼具国际视野、创新动力、全方位跨平台的品牌咨询与设计整合服务公司。公司业务涉及大数据、智能多媒体、物联网云计算等。目前已为上百家国内优秀企业及全球500强企业提供了专业有效的品牌传播解决方案。</p>
				</div>
				<div class="title">
					<h3>服务范围</h3>
				</div>
				<div class="two">
					<div class="yun">
						<img src="img/fuwu1.png"/>
						<p>云数据中心操作系统</p>
						<p>秉承开放化、模块化、标准化计的基于虚拟化技术</p>
					</div>
					<div class="yun">
						<img src="img/fuwu2.png"/>
						<p>复合大数据</p>
						<p>海量、高增长率和多样化的信息资产提供数据处理，分析，增值能力</p>
					</div>
					<div class="yun">
						<img src="img/fuwu3.png"/>
						<p>大数据云计算技术</p>
						<p>用户通过电脑、笔记本、手机等方式接入数据中心，按自己的需求进行运算</p>
					</div>
					<div class="fu">
						<img src="img/list2.jpg"/>
						<span>服务理念</span>
						<p>专注品牌事业十余年，是一家兼具国际视野、创新动力、全方位跨平台的品牌咨询与设计整合服务公司。公司业务涉及大数据、智能多媒体、物联网云计算等。</p>
					</div>
				</div>
				<div class="title">
					<h3>服务案例</h3>
				</div>
				<div class="pics">
					<div class="imgs">
						<div class="lb">
							<img src="img/one1.jpg"/>
							<a href="#">私家智能定制APP</a>
						</div>
						<div class="lb">
							<img src="img/one2.jpg"/>
							<a href="#">私家智能定制APP</a>
						</div>
						<div class="lb">
							<img src="img/one3.jpg"/>
							<a href="#">私家智能定制APP</a>
						</div>
						<div class="lb">
							<img src="img/one4.jpg"/>
							<a href="#">私家智能定制APP</a>
						</div>
					</div>
				</div>
				<div class="title">
					<h3>新闻中心</h3>
				</div>
				<div class="three">
					<img src="img/list3.jpg"/>
					<a href="#!/guge" id="dian">谷歌：安全问题机制并不如你想象中安全</a>
				</div>
				<div class="dian">
					<ul>
						<li>
							<a href="#">YouTube崛起十年 靠分享免费内容成功</a>
							<span>2017/08/28</span>
						</li>
						<li>
							<a href="#">腾讯科技新书预售：“掘金”互联网+时代</a>
							<span>2017/08/28</span>
						</li>
						<li>
							<a href="#">网盘纷退场但“云存储”仍是刚需</a>
							<span>2017/08/28</span>
						</li>
						<li>
							<a href="#">移动APP逐渐改变了人们的生活习惯</a>
							<span>2017/08/28</span>
						</li>
					</ul>
				</div>
				<div class="top">
					<a href="#app">Top<span></span></a>
					
				</div>
				<div class="info">
					<p>©2017 - 版权所有</p>
					
				</div>
			</section>
			<footer>
				<div class="icon">
					<ol>
						<li>
							<img src="img/dianhua.png"/>
							<a href="#">电话咨询</a>
						</li>
						<li>
							<img src="img/xinxi.png"/>
							<a href="#">信息咨询</a>
						</li>
						<li>
							<img src="img/ditu.png"/>
							<a href="#">在线地图</a>
						</li>
						<li>
							<img src="img/liuyan.png"/>
							<a href="#!/input">在线留言</a>
						</li>
					</ol>
				</div>
			</footer>
		</div>
		

