<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/about.css"/>
	</head>
	<body>
		<div class="header">
			<h3 class="logo"><img src="img/logo.gif"/></h3>
			<div class="int">
				<input type="text" placeholder="互联网+"/>
				<img src="img/fdj.png"/>
			</div>
			<div class="hua">
				<span>公司总机：<i>010-84108866</i></span>
				<span>业务咨询：<i>400-610-3699</i></span>
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#!/about">关于和君</a></li>
				<li><a href="#">新闻中心</a></li>
				<li><a href="#">业务与服务</a></li>
				<li><a href="#">思想观点</a></li>
				<li><a href="#">精英团队</a></li>
				<li><a href="#">企业文化</a></li>
				<li><a href="#">和君商城</a></li>
				<li><a href="#">加入和君</a></li>
				<li><a href="#">集团党委</a></li>	
			</ul>
		</div>
		<div class="main1">
			<div class="bg1">
				<img src="../img/ztvl.png"/>
			</div>
			<div class="m-left">
				<h3>关于和君</h3>
				<ul>
					<li>集团简介</li>
					<li>一体两翼的业务格局</li>
					<li>发展历程</li>
					<li>所获荣誉</li>
					<li>董事长致辞</li>
					<li>和君印象</li>
					<li>联系我们</li>
				</ul>
			</div>
			<div class="m-right">
				<p><span>当前位置：</span><a href="#!/home">和君首页></a><a href="#">关于和君</a></p>
				<h1>集团简介</h1>
				<h3>总体格局</h3>
				<div class="content">
					<p>和君集团创始于2000年春，总部在北京，是2家上市公司的第一大股东，是若干家上市公司的第二大股东，属下控股的企业员工累计超过万人。</p>
					<p>一体两翼的格局：以咨询业务为主体、以资本业务和商学业务为两翼，为客户提供“咨询+资本+人才”的综合服务。</p>
					<p>该格局荣获《21世纪商业评论》颁发的中国最佳商业模式奖。</p>
					<img src="img/zwu_m.png"/>
					<div class="he">
						<h3>核心业务</h3>
						<span>和君咨询</span>
						<p>是亚洲本土最大规模的咨询机构之一，集团实缴注册资本1亿元，咨询师队伍达到1500人。持续经营十几年，累计服务数千家企业和政府客户，包括央企和民企，跨国公司、500强和中小企业，遍布国内和国外。目前，平均每个工作日签约3单以上，全年执行管理咨询和投资银行类项目超过500个，在数十个行业里积累有丰富的案例和经验。2013年和君咨询成为全球第一家获得国际管理咨询协会理事会(ICMCI) 认证的咨询机构，荣获全球第一张CMC FIRM资格证书。</p>
						<span>和君资本</span>
						<p>是赋能式投资的领导性品牌和资本机构，以PE和PIPE方式，为企业提供资金和资本运作的系统解决方案，为财富人士或机构提供财富管理服务。累计管理PE投资基金超过100亿元，管理上海市政府、福建省政府、重庆市政府等多个政府引导基金和产业基金，跟央企中车集团合作管理PPP基金500亿元，累计投资了100多家创新企业、拟上市企业和上市公司。</p>
						<span>和君商学</span>
						<p>新三板挂牌公司（股票代码831930），股本3亿元，以互联网教育的方式提供产业、管理和金融等方面的培训和课程。目前，和君商学院每年录取和培训几千个名校本科生、硕士生和博士生，形成积极的人才集群效应；和君企业总裁班、企业在线班、董秘班、各种研修班等，每年录取和培训几百个企业高管。属下的华职出版，是中国职业教育教材的最大民营出版商，为1000多家本科专科院校和职业教育学校提供教材图书。</p>
						<p>和君商学开创了新三板挂牌公司收购控股沪深交易所上市公司的第一案，属下控股经营深交所上市公司汇冠股份（SZ300282）。</p>
						<span>汇冠股份</span>
						<p>深交所上市公司（SZ300282），总部在北京中关村，拥有4家国家级高新技术企业，主营业务是智能教育，员工几千人，目前年净利润一亿多元，是中国资本市场里质地优良、前景广阔的教育类上市公司。</p>
					
					</div>
					<div class="yewu">
						<h3>业务组合：客户价值倍增模型</h3>
						<p>为客户创造价值是和君人的职业宗教</p>
						<img src="img/ayyn_m.png"/>
					</div>
					<div class="wen">
						<h3>和君文化</h3>
						<span>使命</span>
						<p>为客户提供有实效的思想、知识和方案。</p>
						<span>愿景</span>
						<p>在世界商学流派中造就一个和君学派。</p>
						<span>和君释义</span>
						<ol>
							<li>1、大商贵和，尊人为君；</li>
							<li>2、和光同尘，君交如水；</li>
							<li>3、君子和而不同，小人同而不和；</li>
							<li>4、做事应为和，做人当为君；</li>
							<li>5、感由和起，情为君生；</li>
							<li>6、和君同行，共奔前程；</li>
							<li>7、和衷共济，君临天下。</li>
						</ol>
						<span>人生如莲</span>
						<p>人生就像是睡莲，成功是浅浅地浮在水面上那朵看得见的花，而决定其美丽绽放的是水面下那些看不见的根和本。莲花初绽，动人心魄，观者如云，岂知绚烂芳华的背后是长久的寂寞等待和漫长的生根固本。君子务本！</p>
						<span>三度修炼</span>
						<p>态度决定命运、气度决定格局、底蕴的厚度决定事业的高度。人之态度、气度、厚度，犹如莲之根本；“三度”修炼，日积月累，功到自然成。</p>
						<span>成功链条</span>
						<p>获取基于贡献、贡献源于能力、能力来自努力。</p>
						<span>知行合一、内圣外王</span>
						<p>正心诚意、蓄深养厚、知行合一、内圣外王，修身、齐家、兴业、益天下。</p>
						<span>水的精神</span>
						<ol>
							<li>1、积小成大 ，不拒绝加盟的沙石和物障，反而是夹裹前行，壮大自己的力量，勇往直前。</li>
							<li>2、无论何时何地，总是改变自己的形态不断寻找出路。</li>
							<li>3、任何时候遇到阻挡，总是慢慢蓄积力量，最后加以冲破。</li>
							<li>4、历经千里万里千难万险，始终不改变自己的本质和前行的动力。</li>
						</ol>
						<span>以奋斗者为本</span>
						<p>劳动光荣，奋斗自豪，机会向奋斗者集中，资源朝奋斗者配置。</p>
						<span>热情与意志</span>
						<p>只有初恋般的热情和宗教般的意志，人才能成就某种事业。</p>
						<span>心有理想、春暖花开</span>
						<p>点燃希望，照亮生活，温暖心灵，唤醒心底沉睡的天使翩翩起舞，促动英雄主义的雄狮威风凛凛，高举理想主义的旗帜明媚飘扬，踏着实干主义的脚步永不停歇。</p>
						<span>有目标、沉住气、踏实干</span>
						<p>拒绝喧嚷、拒绝浮躁、拒绝摆秀、拒绝浮名、拒绝安逸、拒绝速成，沉住气，持续努力、厚积薄发、水到渠成。</p>
					
					
					
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="ftop">
				<ul>
					<li class="info">
						<h3>按访问者</h3>
						<ol>
							<li><a href="#">和君学员</a></li>
							<li><a href="#">新闻媒体</a></li>
							<li><a href="#">求职者</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>关于和君</h3>
						<ol>
							<li><a href="#">和君简介</a></li>
							<li><a href="#">服务目录</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">和君印象</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>思想观点</h3>
						<ol>
							<li><a href="#">和君专栏</a></li>
							<li><a href="#">和君视野</a></li>
							<li><a href="#">原创思想</a></li>
							<li><a href="#">典型案例</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>常用链接</h3>
						<ol>
							<li><a href="#">内部OA</a></li>
							<li><a href="#">和君邮箱</a></li>
							<li><a href="#">BBS</a></li>
							<li><a href="#">友情链接</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>相关网站</h3>
						<ol>
							<li><a href="#">和君商学在线内部OA</a></li>
							<li><a href="#">和君资本</a></li>
							<li><a href="#">和君软件</a></li>
							<li><a href="#">人才经纪人联盟</a></li>
							<li><a href="#">沣盈资本</a></li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="fxia">
				<div class="copy">
					<p>Copyright © www.hejun.com, 2014. 北京和君咨询有限公司 版权所有</p>
					<span>地址：北京朝阳区北苑路86号院（嘉铭桐城）E区213号楼一至三层　总机：010-84108866</span>
					<span>京ICP备06033816号</span>
				</div>
				
			</div>
		</div>
	</body>
</html>
