		<div class="header">
			<h3 class="logo"><img src="img/logo.gif"/></h3>
			<div class="int">
				<input type="text" placeholder="互联网+"/>
				<img src="img/fdj.png"/>
			</div>
			<div class="hua">
				<span>公司总机：<i>010-84108866</i></span>
				<span>业务咨询：<i>400-610-3699</i></span>
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#!/about">关于和君</a></li>
				<li><a href="#">新闻中心</a></li>
				<li><a href="#">业务与服务</a></li>
				<li><a href="#">思想观点</a></li>
				<li><a href="#">精英团队</a></li>
				<li><a href="#">企业文化</a></li>
				<li><a href="#">和君商城</a></li>
				<li><a href="#">加入和君</a></li>
				<li><a href="#">集团党委</a></li>	
			</ul>
		</div>
		<div class="banner">
			<div class="pics">
				<img src="img/JOLZRO_m.jpg"/ style="left: 0;">
				<img src="img/buiu_m.jpg"/>
			</div>
			<ul id="lunbo">
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="main">
			<div class="tou">
				<div class="xin">
					<h3><span>和君新闻</span><a href="#">更多></a></h3>
					<div class="ma">
						<img src="img/mkkz_m.jpg"/>
						<a href="#">|23位和君商学院同志，参加亚太地区商</a>
						<ul>
							<li><i>|&nbsp23位和君商学院同志，参加亚太地区商学院草原挑战赛...</i><span>2017-07-26</span></li>
							<li><i>|&nbsp你我并肩，和君同行&nbsp|&nbsp和君商学院学生代表发言</i><span>2017-07-17</span></li>
							<li><i>|&nbsp产学互动，校企互动&nbsp|&nbsp和君商学院二级学院院长及企...</i><span>2017-07-17</span></li>
							<li><i>|&nbsp一起走过，一起走到&nbsp|&nbsp和君十届，因我精彩</i><span>2017-07-17</span></li>
						</ul>
					</div>
				</div>
				<div class="lb">
					<h3 class="ttl">
						<span>推荐阅读</span>
					</h3>
					<div class="tui">
						<div class="one" style="left: 0;">
							<div class="zhan">
								<img src="img/nvsl_m.jpg"/>
								<h3>|&nbsp战略是取舍，帮你克服人性的贪婪</h3>
								<span>2017-08-10</span>
								<p>战略就是决定做什么和不做什么，而“不做什么”比“做什么”更为重要</p>
								<a href="#">咨询公司</a>
								<a href="#">战略</a>
							</div>
							<div class="mei">
								<img src="img/swhi_m.jpg"/>
								<h3>|&nbsp“一带一路”————会展业的历史发展机遇 和君每日观察————20170809和君每日观察</h3>
								<span>2017-08-10</span>
								<p>由中国政府提出的“一带一路”倡议，契合了沿线国家的共同需求，体现了“和平、交流、理解、包容、合作、共赢”的精神，已经成为当今世界重要的国际合作新平台。这也为会展业注入了新的动力和机遇。</p>
								<a href="#">一带一路</a>
								<a href="#">丝绸之路</a>
								<a href="#">咨询公司</a>
							</div>
							<div class="jian">
								<img src="img/tazz_m.jpg"/>
								<h3>|&nbsp简单梳理融资租赁</h3>
								<span>2017-08-10</span>
								<p>融资租赁售后回租对于无法进行银行、信托、股权等常规方式融资的存量资产，开辟了新的融资方式和融资渠道，提升了企业的融资能力。</p>
								<a href="#">融资租赁</a>
								<a href="#">咨询公司</a>
							</div>
							<div class="fu">
								<img src="img/xou_m.jpg"/>
								<h3>|&nbsp“复合型股权激励”——员工出资难情况下的股权激励破解之道</h3>
								<span>2017-08-03</span>
								<p>如何设计一套立足长期战略、适应业务发展、充分激发活力的激励体系，对公司尤为重要。利用“股权”对核心人才进行激励，一直被认为是最核心、最根本的激励方式，是企业发展的核动力和“顶层设计”。</p>
								<a href="#">咨询公司</a>
								<a href="#">股权激励</a>
							</div>
						</div>
						<div class="one">
							<div class="wang">
								<img src="img/ytn_m.png"/>
								<h3>|&nbsp读懂三湾改编，也就明白了企业组织建设的真谛！| 王明夫</h3>
								<span>2016-07-11</span>
								<p>读懂了三湾改编，也就知道了自己企业的组织发育和组织建设，应该做什么?</p>
								<a href="#">王明夫</a>
							</div>
							<div class="cun">
								<img src="img/ner_m.jpg">
								<h3>|&nbsp荐书 | 巴菲特：学习投资很简单，只要愿意读书就行了</h3>
								<span>2017-03-23</span>
								<p>春风正吹气，恰当时与世。天亮了，青年朋友们！早起来，去读书！</p>
							</div>
							<div class="xun">
								<img src="img/ks_m.jpg">
								<h3>|&nbsp寻找十倍成长股的一个产业研究案例</h3>
								<span>2017-03-23</span>
								<p>国际十大渔业企业销售规模的中位数在300亿人民币左右，大多数是产融互动的高手。</p>
							</div>
							<div class="huan">
								<img src="img/c8_m.jpg">
								<h3>|&nbsp王明夫：大梦谁先觉</h3>
								<span>2017-05-22</span>
								<p>大梦谁先觉，英雄心自知，风云恒变幻，胜在致良知。</p>
								<a href="#">投资</a>
							</div>
						</div>
						<div class="one">
							<div class="san">
								<img src="img/ipuu_m.jpg">
								<h3>|&nbsp信任 | 理解 | 欣赏</h3>
								<span>2017-03-23</span>
								<p>企业文化真的是高不可攀、触不可及亦或无足轻重吗？</p>
							</div>
							<div class="ru">
								<img src="img/jdtu_m.jpg">
								<h3>|&nbsp如何找钱——揭秘乐视融资的七种手段</h3>
								<span>2017-03-23</span>
								<p>本文节选自《新物种乐视：如果有一天它倒下我们还会想起什么》（江涛 丛龙峰），华夏出版社，12月25日上市。</p>
							</div>
							<div class="cai">
								<img src="img/dx_m.jpg">
								<h3>|&nbsp和君集团年会（第二天） 精彩摘编</h3>
								<span>2017-02-09</span>
								<p>和君集团年会第二部分精彩观点分享给大家。</p>
							</div>
							<div class="wei">
								<img src="img/trqe_m.jpg">
								<h3>|&nbsp基于时间维、空间维、基因维探求百年企业发展的规律（内附案例详解）</h3>
								<span>2017-03-16</span>
								<p>近年来，百年诺基亚因未能跟上时代的步伐而倒下，千年金刚组因过渡扩张叠加日本经济萧条而被重组，这让“百年企业”这一命题变得更加神秘而莫测，也让柯林斯基业长青的研究结论受到更多的质疑。</p>
							</div>
						</div>
					</div>
					<ol id="dong">
						<li></li>
						<li></li>
						<li></li>
					</ol>
				</div>
			</div>
			<div class="tag">
				<div class="re">
					<h3><span>热门标签</span></h3>
					<div class="biao">
						<span>王明夫</span>
						<span>人力资源</span>
						<span>战略咨询</span>
						<span>商业模式</span>
						<span>组织</span>
						<span>互联网金融</span>
						<span>资本运作</span>
						<span>大势观澜</span>
						<span>资本市场</span>
						<span>互联网+</span>
						<span>领导力</span>
						<span>一带一路</span>
					</div>
				</div>
				<div class="run">
					<h3><span>和君商业评论</span></h3>
					<img src="img/skdr.gif"/>
				</div>
				<div class="cha">
					<h3><span>和君每日观察</span></h3>
					<img src="img/ybu.gif"/>
				</div>
				<div class="bing">
					<h3><span>和君小冰</span></h3>
					<img src="img/qjjkd.gif"/>
				</div>
				<div class="zhua">
					<h3><span>专题</span><a href="#">更多></a></h3>
					<ul>
						<li><img src="img/fxool.jpeg"/></li>
						<li><img src="img/inla.jpg"/></li>
						<li><img src="img/llam.jpg"/></li>
						<li><img src="img/wcrc.jpg"/></li>
					</ul>
				</div>
			</div>
			<div class="big">
				<img src="img/ycy.jpg"/>
			</div>
			<div class="zuo">
				<h3>
					<span>作者专栏</span>
					<a href="#">更多></a>
				</h3>
				<div class="lan">
					<ul>
						<li>
							<img src="img/zbia.jpg"/>
							<span>王明夫</span>
							<p>|&nbsp王明夫：创新与转型必看的六条</p>
							<p>|&nbsp王明夫：人生中最震撼人心的奋</p>
							<p>|&nbsp王明夫 | 知行和一、内圣外</p>
							<p>|&nbsp王明夫：大梦谁先觉</p>
							<p>|&nbsp和君小镇愿景</p>
						</li>
						<li>
							<img src="img/infw.jpg"/>
							<span>刘海峰</span>
							<p>| 300天完成并购整合（内含操作方法）</p>
							<p>| 企业平台化改造：请不要站错梯队</p>
							<p>| 职业经理人已“死”，合伙人制时代正在到来</p>	
							<p>| 四条主线发力，全面推进平台化战略改造</p>	
							<p>| 平台化研究中心率先发布平台化</p>	
						</li>
						<li>
							<img src="img/xmmh.jpg"/>
							<span>张卢锋</span>
							<p>| 小白如何玩转自媒体？</p>
							<p>| 拉一支金光闪闪的队伍</p>
							<p>| 和你的合伙人一起创业</p>
							<p>| 养老产业往何处去</p>
							<p>| 企业文化阶段论和成功文化可感</p>
						</li>
						<li>
							<img src="img/kyte.jpg"/>
							<span>朱文奇/冷松</span>
							<p>| 特色小镇研究 | 如何快速直观判断特色小镇的投资吸引力</p>
							<p>| 如何快速直观判断特色小镇的投资吸引力</p>
							<p>| 农业型特色小镇建设的重要意义及规划要点</p>
							<p>| 中国环境报关于“十三五”战略性新兴产业发展规划的采访提纲</p>
							<p>| 环保企业转型升级的四大路径研</p>
						</li>
						<li>
							<img src="img/oohms.jpg"/>
							<span>林涵武</span>
							<p>| 中小型企业如何实现“蚂蚁变大象、鲤鱼跳龙门？</p>
							<p>| 怎样选择企业接班人？记住这六条！</p>		
							<p>| 中国民营企业继任者的困境及突破</p>		
							<p>| 商业“无间道”</p>		
							<p>| 如何创建真正优秀的团队？</p>		
						</li>
						<li>
							<img src="img/dvvsk.jpg"/>
							<span>马振亚</span>
							<p>| 一家新三板企业的产融互动之路</p>
							<p>| 新三板资本市场现状及其发展走向</p>		
							<p>| 2015年全国新三板挂牌公司违规问题汇总</p>		
							<p>| 环保A股、新三板公司应抢占十三五17万亿投资蛋糕</p>		
							<p>| 并购浪潮下新三板给环保企业带来的机遇</p>		
						</li>
					</ul>
				</div>
			</div>
			<div class="can">
				<h3>
					<span>产业</span>
				</h3>
				<div class="guo">
					<img src="img/brnl.jpg"/>
					<h3>国外再制造产业发展经验与启示</h3>
					<span>熊威 2017-07-07</span>
					<p>发达国家通过改善制造业特别是新兴产业的融资条件，改善人力资源和基础设施，支持鼓励研发创新活动，增加本土制造的市场机会，招商引资等方法，积极发展本国再制造产业。我国应借鉴国外先进的再制造技术和体系，营造…</p>
					<a href="#">先进经验</a>
					<a href="#">技术合作与产业升级</a>
					<a href="#">我国再制造业尚处起步阶段</a>
					<a href="#">国外现状</a>
				</div>
				<div class="yang">
					<img src="img/hdopo_m.png"/>
					<h3>【养老地产：地产的内容时代-中国养老地产专题研究报告（2016）】</h3>
					<span>杨围围（首席研究员、新派旅游与健康养老专业顾问） 2016-09-01</span>
					<p>房地产告别黄金时代进入下行通道，快销模式大势已去，转型升级成必然之举。</p>
					<a href="#">研究报告</a>
					<a href="#">养老地产</a>
				</div>
				<div class="kan">
					<img src="img/ucdftw_m.jpg"/>
					<h3>【健康养老事业部年度报告（2016）】第四期：健康养老宏观环境分析（金融环境篇）</h3>
					<span>和君健康养老事业部 2016-08-15</span>
					<p>养老金并轨给社会带来了公平与正义，便于人才流动的同时也能弥补养老金入不敷出的巨大缺口问题。尽管人力资源和社会保障部及有关部门在各个场合均强调养老金“不差钱”，但如果剔除财政补贴，养老保险在客观上已陷入…</p>
					<a href="#">金融环境</a>
					<a href="#">健康养老</a>
					<a href="#">宏观环境</a>
				</div>
			</div>
			<div class="shi">
				<h3>
					<span>事业部/研究中心</span>
				</h3>
				<div class="icon">
					<ul>
						<li><span></span><h3>健康养老</h3></li>
						<li><span></span><h3>医药医疗</h3></li>
						<li><span></span><h3>能源与重化工</h3></li>
						<li><span></span><h3>房地产</h3></li>
						<li><span></span><h3>教育培训</h3></li>
						<li><span></span><h3>服装研究</h3></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="ftop">
				<ul>
					<li class="info">
						<h3>按访问者</h3>
						<ol>
							<li><a href="#">和君学员</a></li>
							<li><a href="#">新闻媒体</a></li>
							<li><a href="#">求职者</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>关于和君</h3>
						<ol>
							<li><a href="#">和君简介</a></li>
							<li><a href="#">服务目录</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">和君印象</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>思想观点</h3>
						<ol>
							<li><a href="#">和君专栏</a></li>
							<li><a href="#">和君视野</a></li>
							<li><a href="#">原创思想</a></li>
							<li><a href="#">典型案例</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>常用链接</h3>
						<ol>
							<li><a href="#">内部OA</a></li>
							<li><a href="#">和君邮箱</a></li>
							<li><a href="#">BBS</a></li>
							<li><a href="#">友情链接</a></li>
						</ol>
					</li>
					<li class="info">
						<h3>相关网站</h3>
						<ol>
							<li><a href="#">和君商学在线内部OA</a></li>
							<li><a href="#">和君资本</a></li>
							<li><a href="#">和君软件</a></li>
							<li><a href="#">人才经纪人联盟</a></li>
							<li><a href="#">沣盈资本</a></li>
						</ol>
					</li>
				</ul>
			</div>
			<div class="fxia">
				<div class="copy">
					<p>Copyright © www.hejun.com, 2014. 北京和君咨询有限公司 版权所有</p>
					<span>地址：北京朝阳区北苑路86号院（嘉铭桐城）E区213号楼一至三层　总机：010-84108866</span>
					<span>京ICP备06033816号</span>
				</div>
				
			</div>
		</div>
